.footer__column-link {
  color: #f2f2f2;
  text-decoration: none;
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  transition: opacity 0.3s linear 0.2s;
  transition: color 0.3s linear;
}

.footer__column-link:hover {
  color:  #2f80ed;
  opacity: 0.6;
}
