.feynman__title {
  max-width: 648px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  font-size: 120px;
  font-weight: bold;
  line-height: 1.15;
  padding-top: 100px;
  text-align:center;
}
