.feynman__link {
  position: absolute;
  right: 48px;
  top: 50%;
  color: #2f80ed;
  text-decoration: none;
  font-size: 36px;
  line-height: 51px;
  font-weight: normal;
  transition: opacity 0.3s linear 0.2s;
}

.feynman__link:hover {
  opacity: 0.6;
}
