.header {
  position:relative;
  height: 100vh;
  padding: 0;
  min-height: 600px;
  max-height: 756px;
  background-color: #f2f2f2;
  display: flex;
  align-items: center;
  overflow: hidden;
  /* выше установили ограничения для секции */
}
