.section-title_theme_dark {
  width: 60%;
  display: flex;
  justify-content: center;
  margin: auto;
  line-height: 1.15;
  font-size: 60px;
  font-weight: bold;
  position: inherit;
  z-index: 1;
}
