.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

.header {
  position:relative;
  height: 100vh;
  padding: 0;
  min-height: 600px;
  max-height: 756px;
  background-color: #f2f2f2;
  display: flex;
  align-items: center;
  /* выше установили ограничения для секции */
}

.logo_place_header {
  position: absolute;
  top: 30px;
  left: 64px;
}

.header__title {
  width: 730px;
  font-size: 102px;
  font-weight: bold;
  line-height: 96px;
  margin-left: 64px;
  z-index: 3;
}

.header__subtitle {
  font-size: 18px;
  line-height:25px;
  position: absolute;
  width: 388px;
  left: 64px;
  bottom: 30px;
  z-index: 4;
  margin: 0;
}

.header__link {
  color: #2f80ed;
  text-decoration: none;
}

.header__main-illustration {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 765px;
  height: 608px;
  z-index: 2;
}

.header__square-pic {
  position: absolute;
  right:0;
  top: 64px;
  height: 568px;
  width: 568px;
  background-color: #2f80ed;
  z-index: 1;
}

.description {
  display: flex;
  justify-content: center;
  margin-top: 100px;
}

.two-columns {
  display: flex;
  justify-content: space-between;
  width: 80%;
}

.two-columns__main-text {
  font-size: 24px;
  line-height: 34px;
  width: 80%;
  min-width: 784px;
}

.two-columns__brief {
  font-weight: normal;
  color: #2f80ed;
  line-height: 1.2;
  font-size: 18px;
  margin: 0;
  min-width: 175px;
}

.two-columns__span-accent {
  font-weight: bold;
}

.two-columns__paragragh {
  margin: 30px 0 0;
}

.two-columns__paragragh:nth-of-type(1) {
  margin-top: 0;
}

.digits {
  margin: 100px 0 100px 0;
}

.section-title {
  width: 60%;
  display: flex;
  justify-content: center;
  margin: auto;
  font-size: 60px;
  font-weight: bold;
  line-height: 1.15;
}

.section-subtitle {
  padding-top: 20px;
  width: 60%;
  display: flex;
  justify-content: center;
  margin:auto;
  font-size: 24px;
  font-weight: normal;
  line-height: 34px;
}

.table {
  width: 1100px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  margin: auto;
}

.table__cell {
  width: 250px;
  margin-top: 60px;
}

.table__heading {
  margin: 0 0 20px;
  font-size: 24px;
  font-weight: bold;
  line-height: 1.15;
  word-wrap: break-word;
}

.table__text {
  font-size: 18px;
  font-weight: normal;
  line-height: 1.2;
  margin: 0;
}

.table__span-accent {
  display: inline-block;
  margin-top: 20px;
}

.feynman {
  height: 890px;
  position: relative;
  background-color: #f2f2f2;
  background-image: url(../images/feynman.png);
  background-repeat: no-repeat;
  background-position: bottom left;
}

.feynman__title {
  width: 648px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  font-size: 120px;
  font-weight: bold;
  line-height: 1.15;
  padding-top: 100px;
}

.feynman__subtitle {
  display: flex;
  justify-content: center;
  font-size: 36px;
  font-weight: normal;
  line-height: 51px;
  margin: 70px 0 0;
}

.feynman__link {
  position: absolute;
  right: 48px;
  top: 50%;
  color: #2f80ed;
  text-decoration: none;
  font-size: 36px;
  line-height: 51px;
  font-weight: normal;
}

.kaufman {
  padding: 90px 0 90px 0;
  background-color: #1f1f1f;
  color: #f2f2f2;
  position: relative;
  overflow: hidden;
  
}

.section-title_theme_dark {
  width: 60%;
  display: flex;
  justify-content: center;
  margin: auto;
  line-height: 1.15;
  font-size: 60px;
  font-weight: bold;
  position: inherit;
  z-index: 1;
}

.section-subtitle_theme_dark {
  width: 60%;
  display: flex;
  justify-content: center;
  margin: 20px auto 0;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

.table_theme_dark {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  list-style-type: none;
  margin: auto;
  padding: 0;
  width: 1100px;
  position: inherit;
  z-index: 1;
}

.table__cell_theme_dark {
  width: 200px;
  margin: 80px 0 0 0;
}

.table__heading_theme_dark {
  padding: 0;
  margin: 0;
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
  word-wrap: break-word;
}

.table__text_theme_dark {
  margin: 20px 0 0 0;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
}

.kaufman__triangle {
  width: 877px;
  height: 877px;
  position: absolute;
  top: 0;
  right: -210px;
}

.footer {
  min-height: 350px;
  display: flex;
  background-color: #1f1f1f;
  color: #f2f2f2;
}

.footer__columns {
  display: flex;
  width: 90%;
  margin: 60px auto 40px auto;
}

.logo_place_footer {
  width: 135px;
  height: 35px;
  display: flex;
}

.footer__autor {
  margin: 18px 0;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  color: #f2f2f2;
}

.footer__column:nth-of-type(1) {
  flex-basis: 710px;
}

.footer__column_content_copyright {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footer__column_content_info {
  display: flex;
  flex-direction: column;
  justify-content: right;
  margin: 0 0 auto auto;
}

.footer__column-heading {
  margin: 0 0 20px;
  line-height: 30px;
  font-size: 18px;
  font-weight: bold;
}

.footer__column-links {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
}

.footer__column-link {
  color: #f2f2f2;
  text-decoration: none;
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
}

.footer__column_content_social {
  margin: 0 0 auto auto;
}

.footer__social-icon {
  width: 16px;
  height: 16px;
  margin: 0 10px 0 0;
}
