.khan__buy-link {
  margin: 0 0 0 48px;
  font-size: 30px;
  line-height: 42px;
  font-weight: normal;
  text-decoration: none;
  color: #2f80ed;
  transition: opacity 0.3s linear 0.2s;
}

.khan__buy-link:hover {
  opacity: 0.6;
}

